In [82]:
import pandas as pd
import re
import random as r
import numpy as np

In [99]:
df = pd.read_csv('dataset.txt', sep=r'\s+', skipinitialspace=True)
print(df)

     yyyy    mm  tmax tmin     af  rain     sun
0    degC  degC  days   mm  hours   NaN     NaN
1    1941     1   ---  ---    ---  74.7     ---
2    1941     2   ---  ---    ---  69.1     ---
3    1941     3   ---  ---    ---  76.2     ---
4    1941     4   ---  ---    ---  33.7     ---
..    ...   ...   ...  ...    ...   ...     ...
972  2021    12  10.0  5.7      0  99.2   33.1#
973  2022     1   8.6  4.1      1  32.2   56.3#
974  2022     2   9.8  5.0      0  99.6   60.3#
975  2022     3  11.4  5.2      0  34.8  153.9#
976  2022     4  12.3  5.9      0  43.8  142.9#

[977 rows x 7 columns]

In [100]:
df['tmax']

0      days
1       ---
2       ---
3       ---
4       ---
       ...
972    10.0
973     8.6
974     9.8
975    11.4
976    12.3
Name: tmax, Length: 977, dtype: object

In [101]:
des = df.replace('---','0')

In [102]:
des['sun'] = des['sun'].str.replace(r'#', '')
des

     yyyy    mm  tmax tmin     af  rain    sun
0    degC  degC  days   mm  hours   NaN    NaN
1    1941     1     0    0      0  74.7      0
2    1941     2     0    0      0  69.1      0
3    1941     3     0    0      0  76.2      0
4    1941     4     0    0      0  33.7      0
..    ...   ...   ...  ...    ...   ...    ...
972  2021    12  10.0  5.7      0  99.2   33.1
973  2022     1   8.6  4.1      1  32.2   56.3
974  2022     2   9.8  5.0      0  99.6   60.3
975  2022     3  11.4  5.2      0  34.8  153.9
976  2022     4  12.3  5.9      0  43.8  142.9

[977 rows x 7 columns]

In [103]:
# Drop first row
des.drop(index=df.index[0], axis=0, inplace=True)
des

     yyyy  mm  tmax tmin af  rain    sun
1    1941   1     0    0  0  74.7      0
2    1941   2     0    0  0  69.1      0
3    1941   3     0    0  0  76.2      0
4    1941   4     0    0  0  33.7      0
5    1941   5     0    0  0  51.3      0
..    ...  ..   ...  ... ..   ...    ...
972  2021  12  10.0  5.7  0  99.2   33.1
973  2022   1   8.6  4.1  1  32.2   56.3
974  2022   2   9.8  5.0  0  99.6   60.3
975  2022   3  11.4  5.2  0  34.8  153.9
976  2022   4  12.3  5.9  0  43.8  142.9

[976 rows x 7 columns]

In [105]:
des.to_csv('fix-dataset.csv',index=False)